
.icon-home:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e803'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-fire:before { content: '\f525'; } /* '' */