body
{
    background-image: url(tlo.jpg);
    font-family: 'Martel', serif;
    font-size: 10px; 
    background-size: cover; 
    color: whitesmoke; 
    margin: 0;
}

#container
{
    width: auto; 
    margin:0;
    padding: 0; 
}



.rectangle
{
    width: 10%; 
    float: left; 
}

header
{
    width: auto;
    padding: 0;
    margin: 0; 
    font-size: 70px;
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center; 
    background-color:#2B2B2B;  
    
}

nav
{
    float: left; 
    width: 250px; 
    font-size: 35px; 
    text-align: left; 
    background-color:#2B2B2B;
    margin:0; 

    
}
article
{
    float: left;
    width: 78%; 
    font-size: 25px; 
    text-align: center; 
    margin-left: 4%; 
    margin-right: 4%;
    
    
}

.p
{
    margin: 10px; 
}


footer
{
    margin-top: 24px; 
    width: auto; 
    background-color: #2B2B2B; 
    padding: 6px;
    font-size: 14px;
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center; 

}



a.textlink
{
    color: whitesmoke; 
    text-decoration: none;     
}
a.textlink:hover
{
    color: #2FBF00; 
    text-decoration: underline; 
    text-decoration-color: #2FBF00; 
}

.button{
    
    width: 23%;
    margin-left: 4%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 14px;
    color: whitesmoke;
    
}
     
.film img{
max-width: 100%;
margin-bottom: 2%;
}

.kod{
    font-size: 60px; 
}



