body
{
    background-image: url(tlo.jpg);
    font-family: 'Martel', serif;
    font-size: 10px; 
    background-size: cover; 
    color: whitesmoke; 
    margin: 0;
}

#container
{
    width: auto; 
    margin:0;
    padding: 0; 
}

.header
{
    text-align: center;
    margin: 0;
    padding: 0;
    height: auto; 
    
}

.rectangle
{
    width: 10%; 
    float: left; 
}

#nazwa 
{
    width: auto;
    padding: 0;
    margin: 0; 
    font-size: 40px;
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center; 
    background-color:#2B2B2B;  
    
}

#pasek 
{
    float: left; 
    width: 12%; 
    font-size: 20px; 
    text-align: left; 
    background-color:#2B2B2B;
    margin:0; 

    
}
#glowna
{
    float: left;
    width: 80%; 
    font-size: 25px; 
    text-align: center; 
    margin-left: 4%; 
    margin-right: 4%;
    
    
}

.p
{
    margin: 10px; 
}


.stopka 
{
    margin-top: 24px; 
    width: auto; 
    background-color: #2B2B2B; 
    padding: 6px;

}

#stopk
{
    width: auto;
    margin: 0;
    font-size: 10px;
    font-family: 'Baloo Paaji 2', cursive;
    text-align: center; 
    
}

a.textlink
{
    color: whitesmoke; 
    text-decoration: none;     
}
a.textlink:hover
{
    color: #2FBF00; 
    text-decoration: underline; 
    text-decoration-color: #2FBF00; 
}


.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 150%;
	}
}
